:root{
    --main-text-color: white;
}

/* Card element */
.card-element {
    border-color:lightskyblue;
    border-radius: 0.25em;
    border-style: solid;
    border-width: 0.09em;
    padding: 10px;
    background-color:rgb(28, 27, 48);
    position: relative;
    box-shadow:0 0 0em rgb(38, 224, 230);
    transition: 250ms;
}
.card-element:hover{
    border-color: rgb(115, 192, 188);
    box-shadow:0 0 0.3em rgb(38, 224, 230);
    border-width:0.12em;
}

.card-element-heading{
    text-align:left;
    font-size:22px;
    padding-bottom: 10px;
    color:rgb(217, 255, 247);
}

.card-element-label{
    text-align:left;
    font-size:18px;
    color:var(--main-text-color);
}

.card-element-text{
    text-align:right;
    font-size:18px;
    color:var(--main-text-color);;
}

.card-element-divider{
    background-color: rgb(83, 87, 136);
    height:1px;
}


/* CardRow */
.card-row{
    display:grid;
    row-gap: 20px;
    padding-left:20%; /* To fix toolbar covering content in mobile*/
}


/* LoginForm */
.login-form-container{
    display:grid;
    grid-template-columns: 1fr 3fr;
}


/* AddNodeForm */
.node-form-container{
    display:grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 5px;
    padding-bottom: 5px;
}

.node-form-inputs{
    width: 100%;
    justify-self: flex-start;
    background-color: rgb(51, 49, 87);
    color:var(--main-text-color);;
    border-color: rgb(123, 121, 155);
    border-radius: 0.1cm;
}

.node-form-label{
    width: 100%;
    display: inline-block;
    font-size: 20px;
    text-align: left;
}

.node-form-button{
    width:100%;
    color: var(--main-text-color);;
    background-color:rgb(49, 86, 207);
    border-color: rgb(128, 128, 160);
    border-width: 1px;
    border-radius: 0.1cm;
    height: 30px;
}


/* NodeInfo */
.node-info-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.node-info-label{
    display: inline-block;
    font-size: 20px;
    text-align: left;
}

.sensor-node-data-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}


/* PowerNode */
.power-node-card{
    height:100%;
    padding: auto;
}

.power-node-container{
    display:grid;
    gap:10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.power-node-button{
    min-width: 100%;
    min-height: 100%;
}
