<html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
{% include "header.html" %}

	<div>
		{%for node in power_nodes%}
			<div>
				<h2>{{node.name}}</h2>
				{%for index, state in enumerate(node.relay_states)%}
					{%if state == "0"%}
						<a href={{"/pwr_node_" ~ node.name ~ "/" ~ index}} class="button btn-power-red">{{node.channel_labels[index]}}</a>
					{%else%}
						<a href={{"/pwr_node_" ~ node.name ~ "/" ~ index}} class="button btn-power-green">{{node.channel_labels[index]}}</a>
					{%endif%}
				{%endfor%}

				<h3>{{node.name ~ " Node Labels"}}</h3>	
				{%for index, label in enumerate(node.channel_labels)%}
					<form method="POST">
						<input type="text" name={{"pwr-node-" ~ node.name ~ "-" ~ index}} value={{label}}>
						<input type="submit" value="Submit"><br>
					</form>
				{%endfor%}
			</div>		
		{%endfor%}
	</div>

	<div>
		<h2>Add Node</h2>
		<form method="POST">
			<label for="node_name">Node name:</label><br>
			<input type="text" id="node_name" name="node_name"><br>
			<label for="node_ip">Node IP:</label><br>
			<input type="text" id="node_ip" name="node_ip"><br>
			<input type="submit" value="Submit">
		</form>
	</div>

	<div>
		<h2>Delete Node</h2>
		<form method="POST">
			<select id="nodes-delete" name="nodes-delete">
			{%for node in power_nodes%}
				<option value='{{node.name}}'>{{node.name}}</option>
			{%endfor%}
			</select><br><br>
			<input text="Delete" type="submit" onsubmit="return false">
		</form>
	</div>
</body>
</html>