<div id="footer" class="text-xs-center">    
<div class="col-md-12">
    <div class="centercontent">
        <a href="#" id="bt" class="btn btn-primary"><i class="fa fa-backward" style="color: white;"></i></a>
        <a href="#" class="btn btn-primary"><i class="fa fa-stop" style="color: red;"></i></a>
        <a href="#" class="btn btn-primary"><i class="fa fa-play" style="color: green;"></i></a>
        <a href="#" class="btn btn-primary"><i class="fa fa-pause" style="color: white;"></i></a>
        <a href="#" class="btn btn-primary"><i class="fa fa-forward" style="color: white;"></i></a>
    </div> 
<!--     <div class="centercontent">
        <img src="http://www.prepbootstrap.com/Content/images/template/MediaPlayer/speaker_left.png" alt=""/>
        <a href="#" class="btn btn-link"><i class="fa fa-volume-down"></i></a> 
        <a href="#" class="btn btn-link"><i class="fa fa-volume-up"></i></a> 
        <a href="#" class="btn btn-link"><i class="fa fa-volume-off"></i></a> 
        <img src="http://www.prepbootstrap.com/Content/images/template/MediaPlayer/speaker_right.png" alt=""/>
    </div>  -->
</div>
    <div class="col-md-2"></div>
</div>

<style>
    #bt{
        height: 20px
    }
    .centercontent {
        padding:10px;
    }

    /* for validator */
    a:link {
    text-decoration:none;
    }

    .green, .green a {
    color: #339900;
    }
    #footer {
  
      height: 211px;
      background-color:#ABABAB;  
    }
</style>