<html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href='/static/style.css' />
<script src="{{url_for('static', filename='main.js')}}"></script>
</head>
<body>
{% include "header.html" %}
  <div>
    {% for index, sensor in enumerate(sensor_nodes)%}
    <h2>{{sensor.name}}</h2>
    <table>
      <tr>
        <th>Light</th>
        <th>Temperature</th>
        <th>Humidity</th>  
      </tr>

      <tr>
        <td>{{sensor.data.light}}</td>
        <td>{{sensor.data.temperature}}</td>
        <td>{{sensor.data.humidity}}</td>
      </tr>
    </table>

    <div>
      <label>Trigger level:</label>
      <label>{{sensor.trig_level}}</label>
    </div>

    <div>
      <label>Trigger time:</label>
      <label>{{sensor.trig_time}}</label>
    </div>

    <div>
      <label>Linked Node:</label>
      <label>{{sensor.power_node.name}}</label>
    </div>

    <div>
      <form method="POST">
        <label for={{"timer-enabled-checkbox-" ~ sensor.name}}>Timer Enabled:</label>
        {% if sensor.timer_enabled == True %}
          <input type="checkbox" 
                 name={{"timer-enabled-checkbox-" ~ sensor.name}} 
                 checked>
        {% else %}
          <input type="checkbox" 
                 name={{"timer-enabled-checkbox-" ~ sensor.name}}>
        {% endif%}
        <input type="submit" value="Update">
      </form>
    </div>
 
    <div class="range-slider">
      <form method="POST">  
        <label for="light-trigger-level">Light Trigger:</label>  
        <input type="range" 
               value="{{sensor.trig_level}}" 
               min="1" 
               max="1024" 
               oninput="this.nextElementSibling.value = this.value" 
               id={{"light-trigger-level" ~ index}} 
               name={{"light-trigger-level" ~ index}}>
          <output>{{sensor.trig_level}}</output>
         <input type="submit" value="Submit">
      </form>
    </div>

    <div class="timecontainer">
      <form method="POST"> 
        <label for="appt">Select a time:</label>
        <input type="time" id={{"trigger-time" ~ index}} name={{"trigger-time" ~ index}}>
        <input type="submit" value="Submit">
      </form>
    </div>

    <div>
      <h2>Link Power Node</h2>
      <form method="POST">
        <select id={{"sense-node-link-" ~ sensor.name}} name={{"sense-node-link-" ~ sensor.name}}>
          {%for node in power_nodes%}
            <option value='{{node.name}}'>{{node.name}}</option>
          {%endfor%}
            <option value="None">None</option>
        </select><br><br>
        <input text="Link" type="submit" onsubmit="return false">
      </form>
    </div>
    {%endfor%}
  </div>
 
  <div>
    <h2>Add Node</h2>
    <form method="POST">
      <label for="node_name">Node name:</label><br>
      <input type="text" id="node_name" name="node_name"><br>
      <label for="node_ip">Node IP:</label><br>
      <input type="text" id="node_ip" name="node_ip"><br>
      <input type="submit" value="Submit">
    </form>
  </div>

  <div>
    <h2>Delete Node</h2>
    <form method="POST">
      <select id="nodes-delete" name="nodes-delete">
        {%for sensor in sensor_nodes%}
          <option value='{{sensor.name}}'>{{sensor.name}}</option>
        {%endfor%}
      </select><br><br>
      <input text="Delete" type="submit" onsubmit="return false">
    </form>
  </div>

</body>
</html>